
<section class="contacts">
    <div class="contacts__container">
        <h2 class="contacts__title">
            Наши контакты
        </h2>
        <div class="contacts__img">

        </div>
        <div class="contacts__items">
            <div class="contact__item">
                <div class="contact__links">
                    <a href="" class="contacts__link">
                        Вотсап
                    </a>
                    <a href="" class="contacts__link">
                        Телеграм
                    </a>
                    <a href="" class="contacts__link">
                        Почта
                    </a>
                </div>

            </div>
            <div class="contact__item">
                <div class="contact__address">
                    г. Домодедово, мкр. Северный, ул. Северная, д.74к1
                </div>
                <div class="contact__address">
                    г. Москва, м.Новослободская, ул. Маршала Жукова, д.5, стр.12
                </div>
            </div>
        </div>
    </div>
</section>