<section class="products">
    <div class="products__container">
        <h2 class="products__title">
            Наш ассортимент
        </h2>
        <div class="filters">
            <div class="filters__items">
                <div class="filter__item">
                    <button class="filters__btn active" id="creams">
                        Крема
                    </button>
                    <button class="filters__btn" id="smells">
                        Духи
                    </button>
                    <button class="filters__btn" id="showers">
                        Гели для душа
                    </button>
                </div>
            </div>
            <div class="filters__items">
                <div class="filter__item">
                    <select name="country" id="country">
                        <option value="all">Любая страна</option>
                        <option value="1">Кот-д'Ивуар</option>
                        <option value="2">Сейшельские острова</option>
                        <option value="3">Мальта</option>
                        <option value="4">Суринам</option>
                        <option value="5">Чили</option>
                    </select>

                    <select name="price" id="price">
                        <option value="low">100 уе - 999 уе</option>
                        <option value="mid">1000 уе - 1999 уе</option>
                        <option value="high">2000 уе - 2999 уе</option>
                    </select>

                    <select name="type" id="type">
                        <option value="low">Уход за волосами</option>
                        <option value="mid">Духи</option>
                        <option value="high">Уход за телом</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="products__items" id="products-list">
            <div class="product">
                <div class="product__img">
                    <img src="" alt="">
                </div>
                <div class="product__info">
                    <h3 class="product__title">
                        Товар 1
                    </h3>
                    <p class="product__desc">
                        Описание первого товара
                    </p>
                    <p class="product__price">
                        3000 p
                    </p>
                    <div class="product__action">
                        <button>
                            В избранное
                        </button>
                        <button>
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="" alt="">
                </div>
                <div class="product__info">
                    <h3 class="product__title">
                        Товар 1
                    </h3>
                    <p class="product__desc">
                        Описание первого товара
                    </p>
                    <div class="product__price">
                        <!--                        <p class="product__old-price">-->
                        <!--                            4000 p-->
                        <!--                        </p>-->
                        <p class="product__current-price">
                            3000 p
                        </p>
                    </div>
                    <div class="product__action">
                        <button>
                            В избранное
                        </button>
                        <button>
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="" alt="">
                </div>
                <div class="product__info">
                    <h3 class="product__title">
                        Товар 1
                    </h3>
                    <p class="product__desc">
                        Описание первого товара
                    </p>
                    <div class="product__price">
                        <!--                        <p class="product__old-price">-->
                        <!--                            4000 p-->
                        <!--                        </p>-->
                        <p class="product__current-price">
                            3000 p
                        </p>
                    </div>
                    <div class="product__action">
                        <button>
                            В избранное
                        </button>
                        <button>
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__img">
                    <img src="" alt="">
                </div>
                <div class="product__info">
                    <h3 class="product__title">
                        Товар 1
                    </h3>
                    <p class="product__desc">
                        Описание первого товара
                    </p>
                    <div class="product__price">
                        <!--                        <p class="product__old-price">-->
                        <!--                            4000 p-->
                        <!--                        </p>-->
                        <p class="product__current-price">
                            3000 p
                        </p>
                    </div>
                    <div class="product__action">
                        <button>
                            В избранное
                        </button>
                        <button>
                            В корзину
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="products__error" id="product-error">
            <p class="products__desc">
                В ходе загрузки произошла ошибка, обновите, пожалуйста, страницу через несколько секунд!
            </p>
        </div>
    </div>
</section>